{% extends "SanCoreBundle::layout.html.twig" %}
{% block title %}
  Erreur 403 pas acces - {{ parent() }}
{% endblock %}

{% block body %}
    <h2>
        Vous n'avez pas acces à cette partie du site. <a href="{{ path('san_core_homepage') }}">Veuillez retourner à l'accueil. </a></h2>
    {% endblock %}