{% extends "SanCoreBundle::layout.html.twig" %}
{% block title %}
  Erreur 403 pas acces - {{ parent() }}
{% endblock %}

{% block body %}
    <h2>
        Vous n'avez pas acces à cette partie du site</h2>
    {% endblock %}