{% extends "SanCoreBundle::layoutpages.html.twig" %}
    {% block title %}
  Erreur trouvée - {{ parent() }}
{% endblock %}

{% block body %}<h1>Oops! Dérappage incontrôlé</h1>
    <h2>Le serveur a retourné l'erreur "{{ status_code }} {{ status_text }}".</h2>

    <div>
      Quelque chose est cassé. Utilisez le formulaire de contact pour nous avertir. 
      N'oubliez pas de nous dire ce que vous étiez entrain de faire. Nous réparerons dès que possible. Désolés !
    </div>
 {% endblock %}