
{% extends "SanAdminBundle::layout.html.twig" %}

{% block title %}
  Modifier une compétence - {{ parent() }}
{% endblock %}

{% block body %}

  <h3 class="bgblue">Modifier une compétence</h3>
{% for message in app.session.flashbag.get('info') %}
        <div class="alert alert-info">{{ message }}</div>
      {% endfor %}
  {{ include("SanOffresBundle:Competence:form.html.twig") }}


  <p>
    <a href="{{ path('san_competences_homepage') }}" class="btn btn-default">
      <i class="glyphicon glyphicon-chevron-left"></i>
      Retour à la liste
    </a>
  </p>

{% endblock %}