<div class="well col-sm-6">
  
      {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
{{ form_end(form) }}
  {# Les erreurs générales du formulaire. #}
  {{ form_errors(form) }}
</div>
  
 
  {# Pour le bouton, pas de label ni d'erreur, on affiche juste le widget #}
  {{ form_widget(form.Enregistrer, {'attr': {'class': 'btn btn-primary'}}) }}
  {# Fermeture de la balise <form> du formulaire HTML #}
  
