{% extends "SanCoreBundle::layoutpages.html.twig" %}

{% block body %}
    <h3 class="section-title">Inscription aux évènements</h3>
   <div class="section-title-divider"></div>
          <p class="section-description"> Vous êtes bien inscrit pour l'évènement {{ inscription.event.titre }}<br /><br />
          <a href="{{ path('san_core_homepage') }}"><button type="button" class="btn btn-info">Retour à l'accueil</button></a>
</p>
<div class="col-md-12 text-center">
    <p class="section-description well">Vous pouvez consulter et modifier cette inscription à tout moment <a href="{{ path('san_user_profil') }}">en vous connectant à votre profil</a>.</p>
    </div>
{% endblock %}

