{% extends "SanCoreBundle::layoutpages.html.twig" %}
{% block body %}
     <h3 class="section-title">Inscription aux évènements</h3>
   <div class="section-title-divider"></div>
   <h2>salut {{ event.id }}</h2>
<div class="container">
    <div class="row">
        <div class="col-md-6">
        {{ render(controller("FOSUserBundle:Security:login")) }}
        </div>
        <div class="col-md-6">
        {{ render(controller("FOSUserBundle:Registration:register")) }}
        </div>
    </div>
</div>   
   
{% endblock %}   