{% extends "SanCoreBundle:Core:index.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    
    <div class="modal" role="dialog" id="confirmed">
  <div class="modal-dialog">

       <div class="modal-content loginmodal-container">
           <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Bien enregistré !</h4>
      </div>
           <div class="modal-body">
    <p>{{ 'registration.confirmed'|trans({'%username%': user.username}) }}</p>
    {% if targetUrl %}
    <p><a href="{{ targetUrl }}">{{ 'registration.back'|trans }}</a></p>
    {% endif %}
           </div></div></div></div>
{% endblock fos_user_content %}
