
{% extends "SanAdminBundle::layout.html.twig" %}

{% block title %}
  Modifier une newsletter - {{ parent() }}
{% endblock %}

{% block body %}

  <h2>Modifier une newsletter</h2>
{% for message in app.session.flashbag.get('info') %}
        <div class="alert alert-info">Message flash : {{ message }}</div>
      {% endfor %}
  {{ include("SanAdminBundle:Newsletter:form.html.twig") }}


  <p>
    <a href="{{ path('san_newsletter_view', {'id': newsletter.id}) }}" class="btn btn-default">
      <i class="glyphicon glyphicon-chevron-left"></i>
      Retour à la newsletter
    </a>
  </p>

{% endblock %}