h1.page-header {
    margin-top: -5px;
}

.sidebar {
    padding-left: 0;
    
}

.candform{
   
    padding-right:20px;
    padding-left:20px;
}

.main-container { 
    background: #FFF;
    padding-top: 15px;
    margin-top: -20px;
}

.footer {
    width: 100%;
} 
.flash-notice{
    background:#011f4b;
    color:#fff;
    font-weight:bold;
   padding:10px;}
.dark{
    background:#1a355d;
    color:#fff;
    font-weight:bold;
   padding:10px;
}
.clear{
    background:#b9c4db;
    color:#333;
    padding:10px;
}

.menuclear{
  background:#eaedf4;
    color:#333;
    padding:10px;  
}

.bgblue{
    background-color:#337AB7;
    color:#fff;
    padding:10px;
}