{% extends "SanCoreBundle::layoutpages.html.twig" %}
{% block body %}
     <h3 class="section-title">Candidature à l'offre {{ offre.titre }}</h3>
   <div class="section-title-divider"></div>
    {{ include("SanOffresBundle:Candidature:form.html.twig") }}
 
{% endblock %}


