{% extends "SanCoreBundle::layoutpages.html.twig" %}

{% block title %}
  Modifier une candidature - {{ parent() }}
{% endblock %}

{% block body %}

  <h2>Modifier votre candidature à l'offre {{ candidature.offre.titre }}</h2>
 {{ include("SanOffresBundle:Candidature:form.html.twig") }}

{% endblock %}
