
Bonjour {{ user.civilite }} {{ user.prenom }} {{ user.nom }},
<br/><br/>
Nous avons bien reçu votre candidature pour l'offre "{{ offre.titre }}" et nous 
vous en remercions. Nous vous contacterons par mail ou téléphone très prochainement.
<br/><br/>
Cordialement,
<br/><br/>
L'équipe de Galax-IT
<br/><br/>
<a href="http://galax-it.com">Le site Galax-IT</a>
