
Bonjour,
<br/><br/>
Nous vous remercions de l'intérêt que vous manifestez pour Galax-IT en déposant 
votre candidature sur notre site http://galax-it.com
<br/><br/>
Nous avons étudié votre dossier avec la plus grande attention. Cependant, au regard 
de votre profil et des compétences requises pour ce poste, nous ne sommes pas en mesure de donner une suite favorable à votre candidature.
<br/><br/>
Nous vous invitons à consulter régulièrement notre site, des nouvelles offres étant fréquemment publiées. 
<br/><br/>
En vous souhaitant d’aboutir rapidement dans vos recherches,
<br/><br/>
L'équipe de Galax-IT
<br/><br/>
<a href="http://galax-it.com">Le site Galax-IT</a>
