{% extends "SanCoreBundle::layoutpages.html.twig" %}
{% block body %}
    <div class="container containerpages">
        <div class="row">
    <h4 class="section-title">Candidature à l'offre {{ candidature.offre.titre }} bien enregistrée</h4>
    <div class="section-title-divider"></div>
     <p class="section-description">{{ candidature.content }}</p>
    <p class="section-description">Nous vous contacterons prochainement pour vous prévenir de sa situation</p>
    <p class="section-description"><a href="{{ path('san_candidature_edit', {'id': candidature.id}) }}" class="btn btn-default">
      <i class="glyphicon glyphicon-edit"></i>
      Modifier la candidature
        </a></p></div></div>
{% endblock %}
