
{% extends "SanAdminBundle::layout.html.twig" %}

{% block title %}
  Modifier une news - {{ parent() }}
{% endblock %}

{% block body %}

  <h3 class="bgblue">Modifier une news</h3>
{% for message in app.session.flashbag.get('info') %}
        <div class="alert alert-info">Message flash : {{ message }}</div>
      {% endfor %}
  {{ include("SanNewsBundle:News:form.html.twig") }}


  <p>
    <a href="{{ path('san_news_homepage') }}" class="btn btn-default">
      <i class="glyphicon glyphicon-chevron-left"></i>
      Retour à la liste
    </a>
  </p>

{% endblock %}