{% extends "SanCoreBundle::layoutpages.html.twig" %}

{% block title %}
  Informations légales - {{ parent() }}
{% endblock %}

{% block body %}

        <div class="col-md-12">
          <h3 class="section-title">Mentions Légales</h3>
          <div class="section-title-divider"></div>
          <p class="section-description">Conformément aux dispositions 
              des Articles 6-III et 19 de la Loi n°2004-575 
          du 21 juin 2004 pour la Confiance dans l'économie numérique, dite L.C.E.N., 
          il est porté à la connaissance des utilisateurs et visiteurs du site galax-it 
          les présentes mentions légales.</p>

 <p class="section-description">Le site galax-it est accessible à l'adresse suivante : 
     www.galax-it.com (ci-après "le Site"). L'accès et l'utilisation du Site sont soumis aux présentes " 
     Mentions légales" détaillées ci-après ainsi qu'aux lois et/ou règlements applicables.
La connexion, l'utilisation et l'accès à ce Site impliquent l'acceptation intégrale et sans réserve de 
l'internaute de toutes les dispositions des présentes Mentions Légales.</p>

<div class="panel panel-primary">
      <div class="panel-heading"><b>ARTICLE 1 - INFORMATIONS LÉGALES</b>  </div>
    <div class="panel-body">
En vertu de l'Article 6 de la Loi n° 2004-575 du 21 juin 2004 pour la confiance 
dans l'économie numérique, il est précisé dans cet article l'identité des différents 
intervenants dans le cadre de sa réalisation et de son suivi.<br/><br/>
Le site galax-it est édité par <b>Galax-it</b> ayant son siège social à l'adresse suivante : 45/4 Avenue de Flandre, et immatriculée au numéro suivant :5379867887.<br/>
Téléphone : 0320650699<br/>
Adresse e-mail : contact@galax-it.com<br/><br/>
ci après " l'Éditeur "<br/><br/>

Le Directeur de publication est <b>Mr Jean-Claude Machin</b><br/>
Adresse e-mail de contact : contact@galax-it.com<br/><br/>
ci après " le Directeur de publication "<br/><br/>

Le site galax-it est hébergé par <b>online.net</b> dont le siège est situé à l'adresse suivante : Paris<br/>
Téléphone : ________<br/>
Adresse e-mail : ________.<br/><br/>
ci après " l'Hébergeur "<br/><br/>

Sont considérés comme utilisateurs tout les internautes qui naviguent, lisent, visionnent 
et utilisent le site galax-it.<br/><br/>
ci après les " Utilisateurs "

         </div> </div>  
<div class="panel panel-primary">
      <div class="panel-heading"><b>ARTICLE 2 - ACCESSIBILITÉ</b>  </div>
    <div class="panel-body">
Le Site est par principe accessible aux utilisateurs 24/24h et 7/7j, sauf interruption, 
programmée ou non, pour des besoins de maintenance ou en cas de force majeure.<br/>
En cas d'impossibilité d'accès au Site, celui-ci s'engage à faire son maximum afin 
d'en rétablir l'accès. Le Site ne saurait être tenu pour responsable de tout dommage, 
quelle qu'en soit la nature, résultant de son indisponibilité.</div>
 </div>  
 <div class="panel panel-primary">
      <div class="panel-heading"><b>ARTICLE 3 - COLLECTE DE DONNÉES ET LOI INFORMATIQUE ET LIBERTÉS</b>  </div>
    <div class="panel-body">
Ce site est déclaré à la Commission Nationale Informatique et Libertés (CNIL) sous le numéro 13810*01 <br/><br/>
En outre, il est conforme aux dispositions de la Loi 78-17 du 6 janvier 1978 relative à l'informatique, 
aux fichiers et aux libertés. En vertu de celle-ci l'Utilisateur bénéficie notamment 
d'un droit d'opposition (art. 32 et 38), d'accès (art. 38 et 39) et de rectification 
(art. 40) des données le concernant.<br/><br/>
Pour faire usage de celui-ci, l'Utilisateur doit s'adresser à l'Éditeur en le contactant 
à l'adresse suivante : contact@galax-it.com, ou par courrier adressé au siège social de 
l'Éditeur en précisant ses nom, prénom(s), adresse et adresse(s) e-mail.
</div>
 </div>  
 <div class="panel panel-primary">
      <div class="panel-heading"><b>ARTICLE 4 - POLITIQUE DE COOKIES</b>  </div>
    <div class="panel-body">
Le site galax-it a éventuellement recours aux techniques de "cookies" lui permettant 
de traiter des statistiques et des informations sur le trafic, de faciliter la navigation et 
d'améliorer le service pour le confort de l'Utilisateur.<br/><br/>
Conformément à la législation européenne, le site galax-it a mis à jour sa politique 
de confidentialité en matière de cookies. L'Utilisateur est libre d'accepter ou de refuser 
les cookies de tous les sites internet en modifiant les paramètres de son navigateur internet.
</div>
 </div>  
 <div class="panel panel-primary">
      <div class="panel-heading"><b>ARTICLE 5 - LOI APPLICABLE ET JURIDICTION</b>  </div>
    <div class="panel-body">
Les présentes Mentions Légales sont régies par la loi française. En cas de différend et 
à défaut d'accord amiable, le litige sera porté devant les tribunaux français conformément 
aux règles de compétence en vigueur.
</div>
 </div>  
  <div class="panel panel-primary">
      <div class="panel-heading"><b>ARTICLE 6 - CONTACT</b>  </div>
    <div class="panel-body">
Pour tout signalement de contenus ou d'activités illicites, l'Utilisateur peut contacter 
l'Éditeur à l'adresse suivante : abus@galax-it.com, ou par courrier recommandé avec 
accusé de réception adressé à l'Éditeur aux coordonnées précisées dans les présentes mentions légales. 
</div>
 </div>  
 <p class="section-description">Le site galax-it vous souhaite une excellente navigation !</p>
{% endblock %}     

