<h3>Salut moi</h3>

Hi {{ name }}! You're successfully registered.

{# example, assuming you have a route named "login" #}
To login, go to: <a href="{{ url('san_core_homepage') }}">...</a>.

Thanks!

{# Makes an absolute URL to the /images/logo.png file #}
<img src="http://galax-it.org/web/img/logo.png">