
{% block menu %}
<!--==========================
  Header Section
============================-->
  <header id="header">
    <div class="container col-sm-12">
    
      <div id="logo" class="pull-left">
        <a href="#hero"><img src="{{ asset('img/logoclear.png') }}" alt="" title="" /></a>
        <!-- Uncomment below if you prefer to use a text image -->
        <!--<h1><a href="#hero">Header 1</a></h1>-->
      </div>
        
      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li class="menu-active"><a href="#hero">Accueil</a></li>
          <li><a href="#news">News</a></li>
          <li class="menu-has-children"><a href="#about">Qui sommes-nous ?</a>
          <ul>
              <li><a href="#societe">La Société</a></li>
              <li><a href="#team">Notre équipe</a></li>
          </ul></li>
          <li><a href="#evenements">Evènements</a></li>
          <li><a href="carriere.html"><b>Rejoignez-nous</b></a></li>
          
          <li class="menu-has-children"><a href="#services">Nos activités</a>
            <ul>
              <li><a href="#secteurs">Nos Secteurs</a></li>
              <li class="menu-has-children"><a href="#metiers">Nos métiers</a>
                <ul>
                  <li><a href="#conseil">Conseil</a></li>
                  <li><a href="#service">Services</a></li>
                  <li><a href="#solutions">Solutions</a></li>
                </ul>
              </li>
            <li><a href="#testimonials">Nos Clients</a></li>
            <li><a href="#collaborateurs">Nos Collaborateurs</a></li>
            </ul>
          </li>
          <li><a href="#contact">Contactez-nous</a></li>
         
<li class="menu-has-children">
    <a href="#connect"><i class="fa fa-user-o"></i><b>Compte</b></a>
            <ul>
                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                        <li class="compte">Connecté en tant que {{ app.user.username }}</li>
                        <li class="compte"><a href="{{ path('fos_user_security_logout') }}">Déconnexion</a></li>
                    {% if is_granted("ROLE_ADMIN") %}
                    <li><a href="admin"><i class="fa fa-lock"></i> Section Administration</a></li>
                    {% endif %}
                    {% else %}    
                    <li><a href="{{ path('fos_user_security_login') }}">Connexion</a></li>
                    <!--<li class="compte"><button type="button" class="btn btn-link" data-toggle="modal" data-target="#menu-modal">Login in</button></li>
                  <li class="compte"><button type="button" class="btn btn-link" data-toggle="modal" data-target="#register-modal">Inscription</button></li>-->
                {% endif %}
            </ul>
</li>
        </ul>
             
           
      </nav><!-- #nav-menu-container -->
       
    </div>
  </header><!-- #header -->
 
{% endblock %}
